{% extends "matchmaker/base.html" %}
{% load i18n %}
{% load url from future %}

{% block "main" %}
<div class="container pushTop">
    <div class="row">
        <div class="span12">
            <h2>{% trans "Password change" %}</h2>
            <p>{% trans "Please enter your old password, then enter your new password twice." %}</p>
            <form method="post" action=".">
                {% csrf_token %}
                {% include "matchmaker/partials/form.html" %}
               <input type="submit" class="btn btn-primary" value="{% trans "Change password" %}">
            </form>
            <p>{% trans "Forgot your old password?" %} <a href="{% url "auth_password_reset" %}">{% trans "Reset your password here" %}</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
