{% load i18n checkins_tags subscriptions_tags %}
{% load url from future %}

{% get_checkins place as checkins %}
{% get_subscribers place as subscribers %}
<div class="placeItem {% if place == checked_in_place %}active{% endif %}">
    <h2><a href="{% url "places_detail" pk=place.pk %}">{{ place.name }}</a></h2>
    <p>{% trans "Distance:" %} {{ place.distance.m|floatformat:"0" }}m</p>
    <p>{% trans "Currently playing:" %} {{ checkins.count }} player{{ checkins.count|pluralize }}</p>
    <p>{% trans "Subscribers:" %} {{ subscribers.count }} player{{ subscribers.count|pluralize }}</p>
    {% include "checkins/partials/checkin_button.html" %}
    {% if user.is_authenticated %}
        {% include "subscriptions/partials/subscribe_button.html" %}
    {% endif %}
</div>
