{% extends "matchmaker/base.html" %}
{% load i18n %}


{% block "main" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>{% trans "Check-out now" %}</h1>
        <p class="lead">
            {% blocktrans with place=place.name %}
            Very good! By checking out actively you keep the data up to date for other players, which makes the site more reliable.
            {% endblocktrans %}
        </p>
        <p>{% trans "By the way: We would have checked you out automatically after 90 minutes." %}</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="span12">
            <form id="form" method="post" action="./#form">
                {% csrf_token %}
                {% include "matchmaker/partials/form.html" %}
                <input type="submit" class="btn btn-primary" value="Check-out now" />
                <a class="btn" href="{% url "places_list" %}">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}



