{% extends "matchmaker/base.html" %}
{% load i18n matchmaker_tags %}


{% block "main" %}
{% comment %}
<div id="fb-root"></div>
<script src="{{ STATIC_URL }}js/libs/facebook.min.js"></script>
<script src="{{ STATIC_URL }}js/facebook_permissions.js"></script>
{% endcomment %}

<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>{% trans "Check-in now" %}</h1>
        <p class="lead">
            {% blocktrans with place=place.name %}
            You are about to checkin at <strong>{{ place }}</strong>. When you do this, other players will be notified that you are here. Your check-in will automatically expire after 90 minutes.
            {% endblocktrans %}
        </p>
        <p>{% trans "Please note that you can only check-in if you accept the geolocation popup of your browser." %}</p>
    </div>
</header>

<section class="subhead" style="padding-bottom: 2em;">
    <div class="container">
        <div class="row">
            <div class="span12">
                <form id="form" method="post" action="./#form">
                    {% csrf_token %}
                    {% include "matchmaker/partials/form.html" %}
                    <input type="submit" class="btn btn-primary" value="Getting position" disabled="disabled" />
                    <a class="btn" href="{% url "places_list" %}">{% trans "Cancel" %}</a>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="subhead" style="padding-top: 2em; padding-bottom: 2em;">
    <div class="container">
        <div class="row">
            <div class="span12">
                {% get_checkins_for_place user place as checkins %}
                <p>{% trans "Your number of check-ins here:" %} {{ checkins.count }}</p>
                <p>{% trans "Your last time here:" %} {% if checkins.0 %}{{ checkins.0.time|timesince }} {% trans "ago" %}{% else %} {% trans "Never" %}{% endif %}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block "extrajs" %}
{{ form.media }}
<script src="{{ STATIC_URL }}checkins/js/geo-success-checkin-form.js"></script>
<script src="{{ STATIC_URL }}places/js/geolocator.js"></script>
<script src="{{ STATIC_URL }}js/facebook_permissions.js"></script>
{% endblock %}
