{% extends "matchmaker/base.html" %}
{% load i18n %}


{% block "main" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>{% trans "Check-in now" %}</h1>
        <p class="lead">
            {% blocktrans with place=place.name %}
            You are about to checkin at <strong>{{ place }}</strong>. When you do this, other players will be notified that you are here. Your check-in will automatically expire after 90 minutes.
            {% endblocktrans %}
        </p>
        <p>{% trans "Please note that you can only check-in if you accept the geolocation popup of your browser." %}</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="span12">
            <form id="form" method="post" action="./#form">
                {% csrf_token %}
                {% include "matchmaker/partials/form.html" %}
                <input type="submit" class="btn btn-primary" value="Getting position" disabled="disabled" />
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block "extrajs" %}
<script src="{{ STATIC_URL }}checkins/js/geo-success-checkin-form.js"></script>
<script src="{{ STATIC_URL }}places/js/geolocator.js"></script>
{% endblock %}
