{% extends "matchmaker/base.html" %}
{% load i18n thumbnail %}


{% block "main" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        {% if object.facebook_profile %}
            <img class="pull-left" src="https://graph.facebook.com/{{ object.facebook_profile }}/picture?type=large" alt="" style="width:100px; margin-right: 10px; padding-top:10px" />
        {% else %}
            {% if object.get_avatar.image %}
                <img class="pull-left" style="margin-right: 10px; padding-top:10px" src="{% thumbnail object.get_avatar.image 100x100 crop upscale %}" />
            {% endif %}
        {% endif %}

        <h1>{{ object.display_name|default:object.username }}</h1>
        <p class="lead">
            {% blocktrans with place=place.name %}
            On the public profile we will show all kinds of statistics, soon.
            {% endblocktrans %}
        </p>
        <p>{% trans "By subscribing to your friends you will get notifications whenever they play." %}</p>

    </div>
</header>

<section class="subhead" style="padding-top: 2em; padding-bottom: 2em;">
<div class="container">
    <div class="row">
        <div class="span12">
            {% include "subscribe/partials/subscribe_button.html" with content_object=object %}
        </div>
    </div>
</div>
</section>

<section class="subhead" style="padding-top: 2em; padding-bottom: 2em;">
<div class="container">
    <div class="row">
        <div class="span6">
            <h2>{% trans "Recently seen at:" %}</h2>
            {% for checkin in object.get_recent_checkins %}
                <p>
                    {{ checkin.time|timesince }}:
                    <a href="{{ checkin.place.get_absolute_url }}">{{ checkin.place.name }}</a>
                </p>
            {% empty %}
                <p>{% trans "Whoa! No one has checked into this court, yet. Your turn!" %}</p>
            {% endfor %}
        </div>
        {% if object.get_subscribed_places %}
        <div class="span6">
            <h2>{% trans "Subscribed places:" %}</h2>
            {% for subscription in object.get_subscribed_places %}
                <a href="{{ subscription.content_object.get_absolute_url }}">{{ subscription.content_object.name }}</a>{% if not forloop.last %}, {% endif%}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
 
{% endblock %}
