# =============================================================================
# Django related
# =============================================================================
Django==1.4.3


# =============================================================================
# Development related
# =============================================================================
ipython==0.13.1
ipdb==0.7
