"""Local settings."""
import os

from matchmaker.settings.base_settings import PROJECT_ROOT

# ============================================================================
# Debug settings
# ============================================================================
DEBUG = True
TEMPLATEDEBUG = DEBUG


# ============================================================================
# Social Auth Settings
# ============================================================================
TWITTER_CONSUMER_KEY = ''
TWITTER_CONSUMER_SECRET = ''
FACEBOOK_APP_ID = ''
FACEBOOK_API_SECRET = ''


# ============================================================================
# Local Development Email Settings
# ============================================================================
ADMINS = (
    ('Your Name', 'yourmail@gmail.com'),
)
MANAGERS = ADMINS

MAILER_EMAIL_BACKEND = 'myproject.test_email_backend.EmailBackend'
TEST_EMAIL_BACKEND_RECEPIENTS = ADMINS

FROM_EMAIL = ADMINS[0][1]
EMAIL_SUBJECT_PREFIX = '[dev matchmaker] '

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = FROM_EMAIL
EMAIL_HOST_PASSWORD = "yourgmailpw"
EMAIL_PORT = 587


# ============================================================================
# Production Server Settings Email Settings
# ============================================================================
#FROM_EMAIL = "info@example.com"
#EMAIL_SUBJECT_PREFIX = '[yourproject] '

#EMAIL_HOST = 'smtp.webfaction.com'
#EMAIL_HOST_USER = ""
#EMAIL_HOST_PASSWORD = ""
#EMAIL_PORT = 25


# ============================================================================
# More general email settings
# ============================================================================
DEFAULT_FROM_EMAIL = FROM_EMAIL
SERVER_EMAIL = FROM_EMAIL
EMAIL_USE_TLS = True


# ============================================================================
# Staticfiles settings
# ============================================================================
MEDIA_ROOT = os.path.join(PROJECT_ROOT, '../../matchmaker_media')
STATIC_ROOT = os.path.join(PROJECT_ROOT, '../../matchmaker_static')


# ============================================================================
# Fabfile settings
# ============================================================================
LOCAL_PG_ADMIN_ROLE = 'username'


# ============================================================================
# Django settings
# ============================================================================
# Make this unique, and don't share it with anybody.
SECRET_KEY = 'www.miniwebtool.com/django-secret-key-generator/'
