{% extends "matchmaker/base.html" %}
{% load i18n %}
{% load url from future %}


{% block "main" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>{% trans "Nearby places" %}</h1>
        <p class="lead">
            {% url "places_create" as places_create %}
            {% blocktrans with places_create=places_create %}
            Here is a list of places near your current position. If your favorite court does not show up here, go there and <a href="{{ places_create }}">add it</a>.
            {% endblocktrans %}
        </p>
        <p>{% trans "We are showing places within a range of 5km. Please note that we can only show places if you accept the geolocation popup of your browser." %}</p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="{% if filter == "nearby" %}active{% endif %}"><a href="{% url "places_list" %}">Places near you</a></li>
                <li class="{% if filter == "all" %}active{% endif %}"><a href="{% url "places_list" %}?filter=all">All places</a></li>
            </ul>
        </div>
        <div class="span12">
            <div id="placeList"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block "extrajs" %}
<script src="{{ STATIC_URL }}places/js/geo-success-place-list.js"></script>
<script src="{{ STATIC_URL }}places/js/geolocator.js"></script>
{% endblock %}
