{% extends "matchmaker/base.html" %}
{% load checkins_tags %}
{% load i18n %}


{% block "main" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>{{ place.name }}</h1>
        <p class="lead">
            {% blocktrans with place=place.name %}
            The detail view of this place allows you to see who is currently checked-in. <br />
            You can also add more anonymous players to the place. This can be useful if someone doesn't have an account, yet or didn't bring a smartphone.
            {% endblocktrans %}
        </p>
        <p>{% trans "Note: When you add anonymous players, they will get checked-out after 90 minutes. We will not save any statistics for them." %}</p>
    </div>
</header>
<section class="subhead">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>{% trans "Currently checked-in" %}</h2>
                {% for checkin in place.get_checkins %}
                    <p>
                        <strong>{{ checkin.get_name }}</strong>
                        (since {{ checkin.time|timesince }})
                    </p>
                {% empty %}
                    <p>{% trans "Sorry, no one here at the moment :(" %}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section style="padding-top: 2em;">
    <div class="container">
        <div class="row">
            <div class="span12">
                {% get_checked_in_place user as checked_in_place %}
                {% include "checkins/partials/checkin_button.html" %}
                {% include "subscriptions/partials/subscribe_button.html" %}
                <a class="btn" href="{% url "places_list" %}">{% trans "Cancel" %}</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
