{% extends "matchmaker/base.html" %}
{% load i18n %}
{% load url from future %}


{% block "main" %}
<div class="jumbotron masthead">
    <div class="container">
        <h1 class="fontBrand">Player Pointer</h1>
        <p class="lead">{% trans "Bored of playing basketball alone? It doesn't have to be like this. <br />Singapore has hundreds of basketball courts and thousands of players. Let's meetup and play!" %}</p>
        {% if user.is_authenticated %}
            <p><a href="{% url "places_list" %}" class="btn btn-primary btn-large">{% trans "Check-in & Play" %}</a></p>
        {% else %}
            <p><a href="{% url "registration_register" %}" class="btn btn-primary btn-large">{% trans "Create your profile" %}</a></p>
        {% endif %}
    </div>
</div>
<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li class="like-fb-btn">
            <div id="fb-root"></div>
            <script>
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=467912809932307";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-like" data-href="https://facebook.com/playerpointer" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
      </li>
      <li class="tweet-btn">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://playerpointer.com" data-text="Find players in your neighborhood" data-via="playerpointer">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
      <li class="follow-btn">
          <a href="https://twitter.com/playerpointer" class="twitter-follow-button" data-show-count="false">Follow @playerpointer</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
    </ul>
  </div>
</div>
<div class="container">
    <div class="marketing">
        <h1>{% trans "How does it work?" %}</h1>
        <p class="marketing-byline">{% trans "You just need your phone and three simple steps:" %}</p>

        <div class="row-fluid">
            <div class="span4">
                <i class="icon-plus-sign"></i>
                <h2>{% trans "Step 1: Add a court" %}</h2>
                <p>{% trans "Get out and walk to your favorite basketball court. Then visit playerpointer.com with your smartphone and add the court to our database. Congratulations! You have just made a great contribution to our community." %}</p>
            </div>
            <div class="span4">
                <i class="icon-map-marker"></i>
                <h2>{% trans "Step 2: Check-in & play" %}</h2>
                <p>{% trans "Whenever you play, make it a habit and check-in at your court. Other players will be able to see that you are playing and might join you. You will be checked out automatically after 90 minutes of play." %}</p>
            </div>
            <div class="span4">
                <i class="icon-star"></i>
                <h2>{% trans "Step 3: Subscribe" %}</h2>
                <p>{% trans "If you subscribe to your favorite courts, you will get email notifications as soon as players check-in at those courts. You never gonna miss a great game again. " %}</p>
            </div>
        </div>

        <hr class="soften">

        <h1>{% trans "This is just the beginning" %}</h1>
        <p class="marketing-byline">{% trans "Check-ins and subscriptions are just the tip of the ice-berg." %}</p>

        <div class="row-fluid">
            <div class="span4">
                <i class="icon-user"></i>
                <h2>{% trans "Team randomizer" %}</h2>
                <p>{% trans "Why waste time with <em>Black & White</em>? Player Pointer will soon be able to generate randomized teams once every player is checked-in. It's just a click at a button." %}</p>
            </div>
            <div class="span4">
                <i class="icon-thumbs-up"></i>
                <h2>{% trans "Skill tracker" %}</h2>
                <p>{% trans "Players can rate other player's skills or vote for a player of the match after each game. This way the randomizer will slowly learn to create teams that are random, yet fair." %}</p>
            </div>
            <div class="span4">
                <i class="icon-globe"></i>
                <h2>{% trans "Highscore list" %}</h2>
                <p>{% trans "With all data in place, we will be able to create a highscore list for your local neighborhood, your district or even the whole town. Wanna stay on top of the game? Gotta play more! ;)" %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
